body{
	background-color: rgb(223,220,211);
	font-family: "Bitstream Charter", Georgia, Cambria, "Times New Roman", Times, serif;
	color : rgb(56, 56, 77);
	margin:0;
}
.title{
	font-size:  40px;
}

header{
	font-size:  20px;
	/*background-color: rgb(42, 70, 194);*/
	background-image: url('../img/paper.png');
	background-repeat : repeat-x;
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	color: rgb(0, 0, 0);
	margin-bottom:5px;
}
.article{
	width:90%;
	padding-left: 3%;
	padding-top: 2%;
	margin:5px 10px 20px 10px;
	background-color:#efebd3;
	box-shadow: rgb(0 0 0 / 40%) 0 3px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	/*border: 0.35rem outset rgb(49, 106, 180);
	border-radius: 12px;*/
}
a{
	text-decoration: none;


}

a:visited {
	color: rgb(9, 23, 49);
	background-color: transparent;
	text-decoration: none;
  }
.article_title{
	font-size: 40px;
	color:green;
	margin-top:0%;
	height:5%;
	}
.date{
	font-style: oblique;
	font-size: 15px;
	color:rgb(122, 117, 131);
	margin-top: 0.5%;
	margin-left: 2%;
	margin-bottom: 0.5%;
}
.article_information{
	font-size: 1.17rem;
	line-height: 1.18em;
	display: flex;
	height: 20vh;
	color:cadetblue;
}
.image {
	width: 20vh;
	height: 17vh;
	object-fit: cover;
}
.article_introduction{
	height: 17vh;
	width: 85%;	
	font-size: 1.17rem;
	overflow: hidden;
	text-overflow: ellipsis;
	color:rgb(0, 0, 0);
	margin-top:1%;
	margin-left: 3%;
	margin-right:5%;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }
  
.container{
	width:80%;
	margin:0 auto;
}
section{
	float: right;
	width:75%;
	margin-top:10px;
	margin-left:0%;
	margin-bottom:100px;
}

aside{
	font-size:25px;
	float:left;
	/*position: fixed;  Fixed Sidebar (stay in place on scroll) */
	width:18%;
	padding-left:2%;
	/*
	box-shadow: rgb(0 0 0 / 40%) 0 3px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	*/
}

footer{
	background-color: rgb(80, 74, 68);
	color:#c3bfbf;
	clear: both;
	padding:15px 0;
	text-align:center;
}
.section{
	background-color: #edf2f3;
	/*
	border: 0.5rem outset pink;
 	outline: 0.5rem solid khaki;
  	box-shadow: 0 0 0 0.5rem skyblue;
	  */
  	border-radius: 12px;
  	margin: 2rem;
  	padding: 0.5rem;
  	outline-offset: 0.5rem;
	font-size: 20px;
	width: 90%;
	margin-top: 10px;
	max-width: 1200px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;

}


h3 {
	position: relative;
  	left: 50px;
	color: black;
}

h2 {
	position: relative;
  	left: 50px;
	color: black;

}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	
  }

.sub_section{

	border-width: 3px;
	background-color: #cacdd1;
	font-size: 20px;
	width: 90%;
	margin-top: 10px;
	max-width: 1200px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	border-width: 15px;
	border-color: blue;
	box-shadow: rgb(0 0 0 / 40%) 0 3px 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.highlight{
	color: black;
	border-width: 3px;
	font-style: oblique;
	font-weight:bold;
	background-color: #e7e1b9;;
	font-size: 30px;
	width: 70%;
	margin-top: 5px;
	max-width: 1200px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
	border-width: 15px;
	border-color: rgb(26 25 13)
	box-shadow: rgb(0 0 0 / 40%) 0 3px 10px;
	border-style:double;
}


.bob-container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
  }
  
  .bob-row{
	margin-right: -15px;
	margin-left: -15px;
  }
  
  .bob-row:before,.bob-row:after{
	display: table;
	content: " ";  
  }
  
  .bob-row:after{
	clear: both;
  }
  
  /*2個並排 不管在任何尺寸都會2個並排*/
  .bob-2item{
	width:45%;
  }
  
  /*3個並排 在767px以下會垂直排列*/
  .bob-3item{
	width: 100%;
  }
  /*4個並排 在767px以下會2個排列*/
  .bob-4item{
	width:50%;
  }
  
  .bob-2item,.bob-3item,.bob-4item{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
  }
  
  .bob-2item img,.bob-3item img,.bob-4item img{
	width:100%;
	display: block;
  }
  
  @media (min-width: 768px) {
	.bob-container {
	  width: 750px;
	}
	.bob-3item{
	  width: 33.33333333%;
	}
	.bob-4item{
	  width:25%;
	}
  }
  @media (min-width: 992px) {
	.bob-container {
	  width: 970px;
	}
  }
  @media (min-width: 1200px) {
	.bob-container {
	  width: 1170px;
	}
  }